@charset "UTF-8";


*{
    box-sizing : border-box;
}
.container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-areas: '. sub .';
    justify-items: center;
    
    
}



.sub_con{
    grid-area: sub;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 66%;
    background-color: #f8f7e5;
    
}
/* 공통 틀 css */
.subt{
    width: 100%;
    display: flex;
    flex-direction: column;

}
/* 매치작성 제목 */
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticon{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* 경기 성별 */
.gender{
    display: flex;
  
}
.gender p {
    font-weight: 700;
    font-size: 15px;
}

.gicon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
}
.option{
 
    width: 100%;
}
#gameGender{
     width: 100%; /* 원하는 너비설정 */
	 padding : 0 10px;
     background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%; /* 네이티브 화살표 대체 */ 
     background-color : white; 
     border: 1px solid #999;
     height : 30px;
     border-radius : 10px;
     appearance: none;
}

/* 매치 날짜 */
.date {
    display: flex;
}

.date p {
    font-weight: 700;
    font-size: 15px;
}
.dicon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 1%;
}

.dinput{
    width: 100%;
}

#txtDate{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding-left : 10px;
}
/* 매치 지역 */
.matchp{
    display: flex;
}

.matchp p{
    font-weight: 700;
    font-size: 15px;
}
.micon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 1%;
}
.option{
	width : 100%;
}

#gameplace{
     width: 100%; /* 원하는 너비설정 */
	 padding : 0 10px;
     background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%; /* 네이티브 화살표 대체 */ 
     background-color : white; 
     border: 1px solid #999;
     height : 30px;
     border-radius : 10px;
     appearance: none;
}

.matchp .match_place_span{
    font-size: 12px;
    color : red;
}

/* 경기장 검색 */
.matchf{
    display: flex;
}

.matchf p {
    font-size: 15px;
    font-weight: 700;
}

.ficon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 1%;
}

.matchf_in {
    display: flex;
}

.matchf_in .finput{
    width: 60%;
}

#fieldName{
    width: 70%;
    height: 30px;
    border-radius: 10px;
}

.fbutton{
    height: 30px;
    width: 30%;
    background-color: #26a653;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.fbutton a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

   /* 지도검색 modal창 디자인 */
    .modal22 {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal22.show {
  display: block;
}

.modal22_body22 {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 1200px;
  height: 700px;

  padding: 30px;

  text-align: center;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
  overflow : hidden;
}


.modal22_body22 a{
	background-color : #26a563;
	color : white;
	font-weight : 700;
}

#map{
		width : 75vw;
		height : 50vh;
	}
	.map_search{
		width : 80%;
		height : 60px;
		display : flex;
		justify-content : space-between;
	}
	.map_search .search_area{
		width : 90%;
		
		display : flex;
		justify-content : center;
		align-items : center;
	}
	.map_search .search_area #search{
		width : 100%;
		height : 80%;
		border-radius : 10px;
		
	}
	.map_search .search_button{
		width : 8%;
		
		display : flex;
		justify-content : center;
		align-items : center;
		background-color : #26a563;
		height : 50px;
		margin-top : 5px;
		border-radius : 10px;
	}
	
	.map_search .search_button a{
		color : white;
		font-size : 20px;
		text-decoration : none;
	}
	
	

/* 경기장 시간 */
.matcht {
    display: flex;
}
.matcht p {
    font-size: 15px;
    font-weight: 700;
}

.timeicon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 1%;
}


.option{
	width : 100%;
}
#gameTime{
     width: 100%; /* 원하는 너비설정 */
	 padding : 0 10px;
     background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%; /* 네이티브 화살표 대체 */ 
     background-color : white; 
     border: 1px solid #999;
     height : 30px;
     border-radius : 10px;
     appearance: none;
}
.matcht .match_time_span{
    font-size: 12px;
    color : red;
}

/* 경기장 주소 */
.matchadd{
    display: flex;
}

.matchadd p{
    font-size: 15px;
    font-weight: 700;
}

.addicon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 1%;
}

.addinput {
    width: 100%;
}

#fieldAddress{
    width: 100%;
    height: 30px;
    border-radius: 10px;
}


/* 경기장 선택시 자동완성 부분 매치방식, 매치코드, 참가비 */
.subt1{
    width: 100%;
    display: flex;
}
.innersubt1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.matchtype{
    display: flex;
}

.matchtype p{
    font-size: 15px;
    font-weight: 700;
}

.matchicon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 1%;
}
.typeinput{
    width: 100%;
}

#gameMacth{
    width: 95%;
    height: 30px;
    border-radius: 10px;
}

.matchc{
    display: flex;
}

.matchc p{
    font-size: 15px;
    font-weight: 700;
}

.cicon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 1%;
}
.cinput{
    width: 100%;
}

#fieldCode{
    width: 95%;
    height: 30px;
    border-radius: 10px;
}

.matchpay{
    display: flex;
}

.matchpay p{
    font-size: 15px;
    font-weight: 700;
}

.payicon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 1%;
}
.payinput{
    width: 100%;
}

#gamePay{
    width: 95%;
    height: 30px;
    border-radius: 10px;
}

/* 팀 선택 */
.team{
    display: flex;
}

.team p{
    font-size: 15px;
    font-weight: 700;
}
.team .sub_title3_span{
    font-size: 12px;
    color : red;
}
.teamicon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 1%;
}
.innerteam{
    display: flex;
    justify-content: space-between;
}
.teaminput {
    width: 40%;
}

#mTeamName{
    width: 100%;
    height: 30px;
    border-radius: 10px;
}
.sbutton{
    width: 28%;
    background-color: #26a563;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.sbutton a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.rbutton{
    width: 28%;
    background-color: #26a563;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.submit{
    width: 100%;
    height: 50px;
    background-color: #889E81;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.submit #subtn{
  border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-weight: 700;
    font-size: 30px;
    background-color: #889E81;

}

.rbutton a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 15px;
}
/* 팀 검색 modal 창 */
  .modal {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal.show {
    display: block;
  }

  .modal_body {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 400px;
    height: 600px;

    padding: 40px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);

    display: flex;
    flex-direction: column;
    
  }
  .modal_inner_box{
    display: flex;

  }
 
  .modal_search_button{
    background-color: black;
    display: flex;
    justify-content : center;
    align-items : center;
    
  }
  .modal_search_button a{
  	color : white;
  	font-weight : 700;
  	text-decoration : none;
  }
  .modal_confirm{
  	background-color : black;
  	margin-left : 5px;
  	display: flex;
    justify-content : center;
    align-items : center;
  }
  
   .modal_confirm a{
   	color : white;
  	font-weight : 700;
  	text-decoration : none;
   }
   #modaldata{
   	height : 100%;
   	overflow : auto;
   }






